@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #9196A8;
    --dark-shade: #2A2935;
    --dark-accent: #8C5851;
    --light-shade: #FAF7F7;
    --light-accent: #BE7030;
}

html, body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--dark-shade);
    scroll-behavior: smooth;
}

.top-nav {
    display: flex;
    position: fixed;
    width: 100%;
    place-content: center;
    place-items: center;
    background-color: var(--dark-shade);
    color: var(--light-shade);
    overflow: hidden;
    z-index: 10000000;
}

.top-nav a {
    padding: 1rem;
    float: left;
}

.top-nav a::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--dark-accent);
    margin: 0 auto;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.top-nav a:active::after {
    transform: scale(1, 1);
}

.top-nav a:hover::after, .top-nav a:focus::after {
    transform: scale(1, 1);
}

.top-nav a:is(.active)::after {
    transform: scale(1, 1);
}

.top-right {
    float: right;
}

a:link, a:visited {
    color: var(--light-shade);
    text-decoration: none;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    padding: 20px;
    gap: 1rem;
    background-color: var(--light-shade);
}

.hero img {
    width: 600px;
}

.hero button {
    border: none;
    background-color: var(--light-accent);
    color: var(--light-shade);
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.hero button:hover {
    box-shadow: inset 100px 0px 0px 0px var(--dark-accent);
}

.hero h1 {
    line-height: 12px;
}

.hero h1 span {
    color: var(--light-accent);
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-shade);
    color: var(--light-shade);
    overflow: auto;
    padding-bottom: 25px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 20px;
    place-items: center;
}

.project-card {
    overflow: none;
    position: relative;
    perspective: 100px;
    padding-top: 50%;
    width: 500px;
}

.project-card ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.card-slide {
    position: relative;
    flex: 0 0 100%;
    counter-increment: item;
}

.card-slide img {
    width: 100%;
}

.card-snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (prefers-reduced-motion: reduce) {
    .card-snapper {
        animation-name: none;
    }
}

.project-card:hover .card-snapper,
.card:focus-within .card-snapper {
    animation-name: none;
}

.card-navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.card-navigation-list,
.card-navigation-item {
    display: inline-block;
}

.card-navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--dark-accent);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: all 0.1s;
}

.card-navigation-button:hover {
    background-color: var(--light-accent);
}

.projects button {
    border: none;
    background-color: var(--light-accent);
    color: var(--light-shade);
    padding: 15px 25px;
    border-radius: 5px;
    transition: all 0.2s ease;
    width: 125px;
    align-self: center;
    
}

.projects button:hover {
    box-shadow: inset 125px 0px 0px 0px var(--dark-accent);
}

.about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    background-color: var(--dark-accent);
    color: var(--light-shade);
    padding: 20px 0px;
    position: relative;
}

.about-me img {
    width: 300px;
    rotate: -3deg;
}

.about-me .img-backdrop::before {
    content: '';
    display: block;
    position: absolute;
    rotate: -10deg;
    height: 450px;
    width: 320px;
    top: 6%;
    bottom: 0;
    background-color: var(--light-accent);
}

.contact-me {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--dark-shade);
    padding: 25px 0px;
    color: var(--light-shade);
}

.contact-me h1 {
    color: var(--light-shade);
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

.contact-me p {
    font-size: 0.8em;
}

.contact-username {
    display: flex;
    gap: 1rem;
}

.contact-creds {
    display: flex;
    flex-direction: column;
}

.contact-input {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.contact-input input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--light-shade);
    transform: all 0.2s ease;
}

.contact-input input:hover, .contact-input input:focus {
    border-bottom: 1px solid var(--light-accent);
}

.input-section button {
    border: none;
    background-color: var(--light-accent);
    color: var(--light-shade);
    padding: 15px 25px;
    border-radius: 5px;
    transition: all 0.2s ease;
    width: 125px;
    align-self: center;
    
}

.input-section button:hover {
    box-shadow: inset 125px 0px 0px 0px var(--dark-shade);
}

/*
.project-card::before,
.project-card::after,
.card-prev,
.card-next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.project-card::before,
.card-prev {
    left: -1rem;
}

.project-card::after,
.card-next {
    right: -1rem;
}

.project-card::before,
.project-card::after {
    content: '';
    z-index: 1;
    background-color: var(--dark-shade);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--light-shade);
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.project-card::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
.project-card::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
*/

.project-card img {
    width: 400px;
}

@media only screen and (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero img {
        width: 400px;
        order: -1;
    }

    .project-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    
    .project-card img {
        width: 75%;
    }

    .about-me {
        grid-template-columns: 1fr;
    }

    .about-me img {
        width: 200px;
    }

    .about-me .img-backdrop::before {
        height: 300px;
        width: 200px;
    }

    .about-me-text {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .hero img {
        width: 300px;
    }
}